extends layout

block main 
  div.dividedScreen
    section#edition 
      h1(class='sectionTitle')= "EDIT Expense " + expenseInfo.title
      form#editionForm(action=`/expenses/${expenseInfo.id}/${expenseInfo.category_id}/edit` method="post")
        dl 
          dt 
            label(for="expenseTitle") Expense name: 
          dd 
            input(type="text"
                  name="expenseTitle"
                  placeholder="Expense Title"
                  value= expenseInfo.title )
          dt 
            label(for="expenseAmount") Expense amount: 
          dd 
            input(type="number" step="0.01"
              id="expenseAmount"
              name="expenseAmount"
              value= expenseInfo.amount)
          dt 
            label(for="categoryTitle") Expense date: 
          dd 
            input(type="date"
              id="expenseDate"
              name="expenseDate"
              value= transformedDate)
        fieldset 
          input(type="submit" value="Save")
          a(href=`/expenses/${expenseInfo.category_id}`) Cancel 
    section#deletion 
      form(action=`/expenses/delete` method="post")
        button(type="submit") Delete Expense


