extends layout 

block main 
  section#expenses
    h1(class='sectionTitle')= categoryTitle+"'s Expenses"
    if expenses.length === 0
      p There are no expenses for this category.
      a(href="#") Create one now! 
    else
      ul(class="sectionActions") 
        li 
          a(href=`/expenses/${categoryId}/orderby/${"title"}`) ORDER BY TITLE
        li 
          a(href=`/expenses/${categoryId}/orderby/${"amount"}`) ORDER BY AMOUNT
        li 
          a(href=`/expenses/${categoryId}/orderby/${"expense_date"}`) ORDER BY DATE
      table(class="expenses")
        tr 
          th Expense 
          th Amount 
          th Date
          th
        each expense in expenses 
          tr 
            td= expense.title
            td= expense.amount+` €` 
            td= expense.expense_date.toString().substring(4, 15)
            td.rowActions
              a(href=`/expenses/${expense.id}/edit`) 
                img(src="/images/edit.png" alt="Edit")
              form.delete(action=`/expenses/${expense.id}/delete` method="post") 
                input(type="submit")

block headerLinks
  nav(class="actionMenu")
    a(href="/categories") CATEGORIES
    a(href=`/categories/${categoryId}/edit`) EDIT CATEGORY
    a(href=`/expenses/${categoryId}/new`) ADD EXPENSE